@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
.dark ::-webkit-scrollbar-thumb {
  background: #525252;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
